
<div>
    <div class="intro-info">
        <h1>Organize your events</h1>
        <p class="center-text">
            Easily keep up with daily tasks and events. Subscribe to the communities you want and
            only receive notifications from them.
        </p>

        <div class="page-block">
            <!-- Info -->
            <div class="user-type-card">
                <img src="../../../assets/icons/student.png" class="user-type-img">
                <p>Subscribe to events as a Student</p>
            </div>
            <div class="user-type-card">
                <img src="../../../assets/icons/teacher.png" class="user-type-img">
                <p>Create events as a teacher</p>
            </div>
            <div class="user-type-card">
                <img src="../../../assets/icons/admin.png" class="user-type-img">
                <p>Manage your profile</p>
            </div>
        </div>

        <div class="page-block">
            <p class="center-text">
                If you haven't created an account yet, you can <a routerLink="/signup">create a free account</a>. 
            </p>
            <p class="center-text">
                If you have already created an account, <a routerLink="/login">login</a> to use the app.
            </p>
        </div>

    </div>
    
</div>

