<div class="page-style">
    <div class="user-info-wrapper">

    </div>
    <div class="img-left">
        <img class="user-profile-img" src="../../../assets/icons/user-profile.png">
    </div>
    <div class="content-right">
        <!-- Username -->
        <div>
            <div class="info-left">
                <p>Username</p>
            </div>
            <div class="info-right">
                <p>{{currentUser.userName}}</p>
            </div>
        </div>

        <!-- First Name -->
        <div>
            <div class="info-left">
                <p>First Name</p>
            </div>
            <div class="info-right">
                <p>{{currentUser.firstName}}</p>
            </div>
        </div>
        <!-- Last Name -->
        <div>
            <div class="info-left">
                <p>Last Name</p>
            </div>
            <div class="info-right">
                <p>{{currentUser.lastName}}</p>
            </div>
        </div>
        <!-- Email -->
        <div>
            <div class="info-left">
                <p>Email</p>
            </div>
            <div class="info-right">
                <p>{{currentUser.email}}</p>
            </div>
        </div>
    </div>
</div>