h2{
    color: white;
    font-size: 20pt;
    text-align: center;
}

p {
    color: white;
    font-size: 15pt;
}

.form-group{
    margin-bottom: 25pt;
}

.page-style {
    margin: 0 auto;
    width: 30%;
    padding-top: 40pt;
}

.other-accounts {
    margin-top: 30pt;
    margin-bottom: 30pt;
    text-align: center;
}

.account-button {
    background-size: cover;
}

.google-icon{
    
}

.login-btn{
    width: 100%;
}

.control-label {
    color: white;
}

@media only screen and (max-width: 1000px) {
    .page-style {
        width: 50%;
    }
}

@media only screen and (max-width: 600px) {
    .page-style {
        width: 100%;
    }
}