<h1>Feel Free to leave us some Feedback!</h1>

<div class="row-fluid">
    <h2>
        It is important for us to always improve our App. So don't hesitate to leave some feedback to let
        us know on what we can improve.
    </h2>
</div>

<div class="row-fluid contact-form">
    <div class="row" *ngIf="message">
        <div class="col-12 alert alert-success">
          {{ message }}
        </div>
    </div>
    <div class="row" *ngIf="error">
        <div class="col-12 alert alert-danger">
          {{ error }}
        </div>
    </div>
    <form [formGroup]="feedbackForm" (ngSubmit)="onSubmit()" method="post">
        <div class="form-group">
            <!-- Feedback -->
            <textarea class="form-control" id="feedback" formControlName="feedback" placeholder="Write down your feedback"></textarea>
        </div>
        <div class="form-group">
            <!-- Send feedback -->
            <button mat-raised-button type="submit">Send Feedback</button>
        </div>
    </form>
</div>