<div class="page-style">
    <h2>Create an Event</h2>
    <div class="row" *ngIf="error">
        <div class="col-12 alert alert-danger">
          {{ error }}
        </div>
    </div>
    <div class="row" *ngIf="response">
        <div class="col-12 alert alert-success">
          {{ response }}
        </div>
    </div>

    <div class="create-community-form">
        <form [formGroup]="createEventFrom" (ngSubmit)="onSubmit()" method="post">    
            <!--  -->
            <mat-form-field appearance="fill" class="input-field">
                <mat-label class="custom-label">Name your new Event</mat-label>
                <input matInput formControlName="eventName">
            </mat-form-field>
            <br>
            <!--  -->
            <mat-form-field appearance="fill" class="input-field">
                <mat-label class="custom-label">When does your new Event start</mat-label>
                <input matInput [matDatepicker]="start" formControlName="start">
                <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
                <mat-datepicker #start></mat-datepicker>
            </mat-form-field>
            <br>
            <!--  -->
            <mat-form-field appearance="fill" class="input-field">
                <mat-label class="custom-label">When does your new Event end</mat-label>
                <input matInput [matDatepicker]="end" formControlName="end">
                <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
                <mat-datepicker #end></mat-datepicker>
            </mat-form-field>
            <br>
            <!--  -->
            <mat-form-field appearance="fill" class="input-field">
                <mat-label class="custom-label" *ngIf="checkCommunities()">Choose the community to add the event to</mat-label>
                <mat-label class="custom-label" *ngIf="!checkCommunities()">You have created no communities yet</mat-label>
                <mat-select formControlName="community">
                  <mat-option *ngFor="let community of communities" [value]="community" >{{community.name}}</mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            <!--  -->
            <button type="submit" [disabled]="loading" class="btn btn-primary login-btn">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Create Event
            </button>
        </form>
    </div>
</div>