h2 {
    font-size: 20pt;
    color: white;
}

p {
    font-size: 15pt;
    color: white;
}

.floating-card {
    background-color: rgb(65, 65, 65);
    transition: 0.5s ease;
    padding: 15pt;
    margin-bottom: 10pt;
    line-height: 23pt;
    overflow-wrap: break-word;

    mat-panel-title {
        max-width: 20%;
        min-width: 100pt;
        overflow-wrap: break-word;
        height: 25pt;
    }

    mat-panel-description {
        max-width: 80%;
        height: 25pt;
    }

}

.floating-card:hover {
    background-color: rgb(88, 88, 88);
}


.name-left {
    float: left;
    width: 20%;
}

.description-right {
    float: right;
    width: 70%;
}