
<h2>Events from Subscribed Communities</h2>

<mat-expansion-panel hideToggle class="floating-card" *ngFor="let event of eventList" >
    <mat-expansion-panel-header  [collapsedHeight]="'80pt'">
      <mat-panel-title>
        <p>{{event.name}}</p>
      </mat-panel-title>
      <mat-panel-description>
        <p>{{event.cName}}</p>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <br>
    <p>Starts at {{event.start}}</p>
    <p>Ends at {{event.end}}</p>
</mat-expansion-panel>