h1 {
    font-size: 28pt;
    color: white;
    font-weight: bold;
}

p{
    font-size: 15pt;
    line-height: 20pt;
}

.intro-info {
    padding-top: 20pt;
    margin: 0 auto;
    text-align: center;
    color: white;
    max-width: 700pt;
}

.center-text{
    margin: 0 auto;
    max-width: 450pt;
}

.page-block{
    margin-top: 50pt;
}

.user-type-img {
    width: 90pt;
    height: 90pt;
    filter: invert(0.9);
}

.section{
    margin: auto;
    display: flex;
    padding: 20pt;
    transition: 0.5s ease;
    border-radius: 4pt;
    cursor: pointer;
}

.section:hover {
    background-color: rgb(88, 88, 88);
    transform: scale(1.02, 1.02);
}

.section-text {
    text-align: justify;
}

.img-left {
    width: 50%;
    float: left;
}

.text-right{
    width: 50%;
    float: right;
    padding-top: 30pt;
    
}