<div>
    <div class="intro-info">
        <h1>Welcome back {{currentUser.userName}}</h1>
        <p class="center-text">
            Have any upcoming events yet?
        </p>

        <div class="page-block">
            <!-- Info -->
            <div class="section" routerLink="/communities">
                <div class="img-left">
                    <img src="../../../assets/icons/community.png" class="user-type-img">
                </div>
                <div class="text-right">
                    <p class="section-text">Subscribe to new Communities</p>
                </div>
            </div>
            <div class="section" routerLink="/events">
                <div class="img-left">
                    <img src="../../../assets/icons/events.png" class="user-type-img">
                </div>
                <div class="text-right">
                    <p class="section-text">Check your new Events</p>
                </div>
            </div>
            <div class="section" routerLink="/roles">
                <div class="img-left">
                    <img src="../../../assets/icons/roles.png" class="user-type-img">
                </div>
                <div class="text-right">
                    <p class="section-text">Check your Roles</p>
                </div>
            </div>
        </div>
    </div>

    
</div>

