<div class="page-style">
    <h2>Create a new Community</h2>
    <div class="row" *ngIf="error">
        <div class="col-12 alert alert-danger">
          {{ error }}
        </div>
    </div>
    <div class="row" *ngIf="response">
        <div class="col-12 alert alert-success">
          {{ response }}
        </div>
    </div>

    <div class="create-community-form">
        <form [formGroup]="createCommunityForm" (ngSubmit)="onSubmit()" method="post">    
            <!-- Community Name: -->
            <mat-form-field appearance="fill" class="input-field">
                <mat-label class="custom-label">Name your new Community</mat-label>
                <input matInput formControlName="communityName">
            </mat-form-field>
            <!-- Community Description -->
            <mat-form-field appearance="fill" class="input-field">
                <mat-label class="custom-label">Describe the community you want to create</mat-label>
                <textarea matInput type="text" id="communityDescription" formControlName="communityDescription"></textarea>
            </mat-form-field>
            <!-- Create Community Button -->
            <button type="submit" [disabled]="loading" class="btn btn-primary login-btn">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Create Community
            </button>

        </form>
    </div>
</div>