.login-button {
    background-color: rgba(0, 132, 255, 0.952);
    color: white;
    margin-right: 10pt;
    padding: 1pt;
}

.user-avatar {
    background-size: cover;
}

.navbar-brand {
    transition: 0.5s ease;
}

.navbar-brand:hover {
    transform: scale(1.03, 1.03);
}

.custom-button {
    background-color: rgb(158, 158, 158);
}