<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" routerLink="/welcome">{{ title }}</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item active">
                <a class="nav-link" routerLink="/">Home</a>
            </li>
            <li class="nav-item" *ngIf="currentUser">
                <a class="nav-link" routerLink="/communities">Communities</a>
            </li>
            <li class="nav-item" *ngIf="currentUser && hasPermission()">
                <a class="nav-link" routerLink="/createCommunity">Create Community</a>
            </li>
            <li class="nav-item" *ngIf="currentUser">
                <a class="nav-link" routerLink="/events">All Events</a>
            </li>
            <li class="nav-item" *ngIf="currentUser && hasPermission()">
                <a class="nav-link" routerLink="/createEvent">Create Event</a>
            </li>
            <li class="nav-item" *ngIf="currentUser">
                <a class="nav-link" routerLink="/feedback">Feedback</a>
            </li>
        </ul>

        <button *ngIf="!currentUser" mat-button class="login-button" routerLink="/login">
            Login
        </button>

        <!-- Avatar Button -->
        <button 
            *ngIf="currentUser" 
            [matMenuTriggerFor]="avatarMenuDropDown"
            mat-mini-fab class="user-avatar" 
            [ngStyle]="{ 'background-image': 'url(../../../assets/icons/user.png)', 'background-color': 'rgb(158, 158, 158)' }">
        </button>
        <!-- Avatar Menu -->
        <mat-menu #avatarMenuDropDown="matMenu">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>{{currentUser?.userName}}</mat-card-title>
                    <mat-card-subtitle>{{currentUser?.email}}</mat-card-subtitle>
                </mat-card-header>
            </mat-card>
            <button mat-menu-item routerLink="/userProfile">
                <mat-icon>person</mat-icon>
                <span>User Profile</span>
            </button>
            <button mat-menu-item (click)="logout()">
                <mat-icon>exit_to_app</mat-icon>
                <span>Sign out</span>
            </button>
        </mat-menu>
    </div>

</nav>