<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <img class="navbar-brand app-icon" routerLink="/welcome" src="{{ appIconDirectory }}">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item active">
                <a class="nav-link" routerLink="/">Home</a>
            </li>
            <li class="nav-item" *ngIf="currentUser">
                <a class="nav-link" routerLink="/communities">Communities</a>
            </li>
            <li class="nav-item" *ngIf="currentUser">
                <a class="nav-link" routerLink="/events">All Events</a>
            </li>
            <li class="nav-item" *ngIf="currentUser && !isAdmin()">
                <a class="nav-link" routerLink="/feedback">Feedback</a>
            </li>
            <li class="nav-item dropdown" *ngIf="currentUser && isAdmin()">
                <a 
                    class="nav-link dropdown-toggle" 
                    href="#" id="navbarDropdown" 
                    role="button" 
                    data-toggle="dropdown" 
                    aria-haspopup="true" 
                    aria-expanded="false">
                        Feedback
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink="/feedback">Leave new Feedback</a>
                  <a class="dropdown-item" routerLink="/readFeedback">Check All Feedback</a>
                  <!-- <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a> -->
                </div>
            </li>
            <li class="nav-item dropdown" *ngIf="currentUser && hasPermission()">
                <a 
                    class="nav-link dropdown-toggle" 
                    href="#" id="navbarDropdown" 
                    role="button" 
                    data-toggle="dropdown" 
                    aria-haspopup="true" 
                    aria-expanded="false">
                        Create
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink="/createCommunity">Create Community</a>
                  <a class="dropdown-item" routerLink="/createEvent">Create Event</a>
                  <!-- <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a> -->
                </div>
            </li>
        </ul>


        <button *ngIf="!currentUser" mat-button class="login-button" routerLink="/login">
            Login
        </button>

        <!-- Avatar Button -->
        <button 
            *ngIf="currentUser" 
            [matMenuTriggerFor]="avatarMenuDropDown"
            mat-mini-fab class="user-avatar" 
            [ngStyle]="{ 'background-image': 'url(../../../assets/icons/user.png)', 'background-color': 'rgb(158, 158, 158)' }">
        </button>
        <!-- Avatar Menu -->
        <mat-menu #avatarMenuDropDown="matMenu">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>{{currentUser?.userName}}</mat-card-title>
                    <mat-card-subtitle>{{currentUser?.email}}</mat-card-subtitle>
                </mat-card-header>
            </mat-card>
            <button mat-menu-item routerLink="/userProfile">
                <mat-icon>person</mat-icon>
                <span>User Profile</span>
            </button>
            <button mat-menu-item (click)="logout()">
                <mat-icon>exit_to_app</mat-icon>
                <span>Sign out</span>
            </button>
        </mat-menu>
    </div>

</nav>